* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

.index {
  display: flex;
  position: relative;
  /*background:#EEEEEE;*/
}

.index .sidebar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background:#ffffff;
  padding: 20px 30px;
  height:100vh;
  position:fixed;
}

.index .sidebar .top {
  display: flex;
  flex-flow: column;
}

.index .sidebar .exit{
  position:absolute;
  bottom:5px;

}
.index .sidebar .login{
  position:absolute;
  bottom:50px;
}


.sidebar .icon {
  width: 2em; height: 2em;
  vertical-align: -0.15em;
  fill: #b7d74f;
  overflow: hidden;
  margin: 15px;
  cursor: pointer;
}
.sidebar .icon:hover{
  fill: #df6138;

}





.index > main {
  width: 755px;
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
  /*border: 1px solid red;*/
  /*flex-grow: 1;*/
  box-shadow: 0 3px 14px -1px rgba(176,166,176,1);

  display: flex;
  flex-flow: column;
  overflow: auto;
  min-height: 100vh;
  background:#F8F8F8;
}

/*.index > main .introduction, .index > main .skills, .index > main .projects {*/
  /*!*text-align: center;*!*/
  /*!*border: 1px solid;*!*/
  /*!*width: 100%;*!*/
/*}*/

.index > main .introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #DFE0E2;
}

.introduction .logoWrapper {
  background: #0197f6;
  margin-left: 40px;
  width: 187px;
}

.introduction .logo {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Microsoft Yahei", serif;
  text-align: center;
}

.introduction .name {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.introduction .jobTitle {
  font-size: 20px;

}

.introduction .info {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  font-family: 'Verdana',sans-serif;
  /*font-weight: bold;*/
  /*color: #414348;*/
  font-size: 14px;
}

.introduction .info > span {
  width:150px;
  text-align: left;
}


.education,.skills,.projects{
  display: flex;
  /*padding-top: 25px;*/
  margin-right: 40px;
  position: relative;
}

.education .title,.skills .title,.projects .title{
  width: 160px;
  text-align: right;
  padding-right: 15px;
  flex-shrink: 0;
  margin-top: 18px;
  font-weight: bold;
  font-size:17px;
  color: #2a2a2a;
  font-family: 'Times New Roman',sans-serif;
}

.education .content,.skills .content,.projects .content{
  min-height: 100px;
  border-left: 2px solid #b2b2b2;
  flex-grow: 1;
  padding:18px;
  text-align:justify;
  font-family: 'Times New Roman',sans-serif;
}

.education .content::after,.skills .content::after,.projects .content::after{
  content:'';
  width:83%;
  height:2px;
  background: #b2b2b2;
  position: absolute;
  bottom: 0;
  left:108px;
}



.index > main .skills li {
  position: relative;
}

.index > main .skills .content .spanTitle{
  font-weight: bold;
}

.index > main .del {
  position: absolute;
  top: -3px;
  right: 2px;
  cursor: pointer;
}


.add{
  display: block;
  border:1px solid #eee;
}

.index > main .editableSpan {
  position: relative;
}

.index > main .editableSpan button {
  width: 50px;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  z-index: 1;
  background: #ffed4b;
  border:none;
  cursor: pointer;
  border-radius: 2px;
  padding:2px 1px;
}

.index > main .editableSpan button:hover{
  background:#ddd;
}

.index > main .editableSpan:hover button {
  display: block;
}

.index > main .skills ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
}

.index > main .skills ol > li {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 15px;
}

.index > main .projects ol {
  display: flex;
  flex-flow: column;
}

.index > main .projects ol > li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  justify-content: space-between;
}

.index > main .projects ol > li h3 {
  margin-right: 15px;
  font-size: 16px;
}

.index > main .projects ol > li .intro {
  flex-grow: 1;
  text-align: right;
  margin-right: 15px;
}

.index > main .projects  ol > li .description {
  width: 100%;
  text-align: left;
}

.index .exitPreview {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 5px;
}






