* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

.index {
  display: flex;
  position: relative;
}

.index .sidebar {
  display: flex;
  flex-flow: column;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.index .sidebar .top {
  display: flex;
  flex-flow: column;

}

.sidebar button {
  padding: 5px 10px;
  margin: 15px;
}

.index > main {
  border: 1px solid red;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  overflow: auto;
  height: 100vh;
}

.index > main .introduction, .index > main .skills, .index > main .projects {
  text-align: center;
  width: 650px;
  margin: 20px auto 0 auto;
  border: 1px solid;
}
.index > main .skills li{
  position:relative;
}
.index > main .del{
  position:absolute;
  bottom:0;
  right: 0;
}

.index > main h2 {
  margin-bottom: 20px;
}

.index > main .editableSpan {
  position: relative;
}

.index > main .editableSpan button {
  width: 50px;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
}

.index > main .editableSpan:hover button {
  display: block;
}

.index > main .skills > ol {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index > main .skills > ol > li {
  border: 1px solid #ddd;
  width: 48%;
  margin-bottom: 15px;
}

.index > main .projects > ol {
  display: flex;
  flex-flow: column;
}

.index > main .projects > ol > li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  border: 1px solid;
  justify-content: space-between;
}

.index > main .projects > ol > li h3 {
  margin-right: 15px;
}

.index > main .projects > ol > li .intro {
  flex-grow: 1;
  text-align: right;
}
.index > main .projects > ol > li .description{
  width: 100%;
  text-align: left;
}

.index .exitPreview{
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 5px;
}




