<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resume editor</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="page" id="app">
  <div class="sidebar">
    <div class="top">
      <button @click="onClickSave">保存</button>
      <button>分享</button>
      <button>打印</button>
      <button>换肤</button>
    </div>
    <div class="bottom">
      <button @click="onLogOut">登出</button>
    </div>
  </div>
  <main>
    <div class="introduction">
      <editable-span :value="resume.name" @edit="onEdit('name',$event)"></editable-span>
      <p>
        <editable-span :value="resume.birthday" @edit="onEdit('birthday',$event)"></editable-span>
        |
        <editable-span :value="resume.jobTittle" @edit="onEdit('jobTittle',$event)"></editable-span>
        |
        <editable-span :value="resume.gender" @edit="onEdit('gender',$event)"></editable-span>
        |
        <editable-span :value="resume.email" @edit="onEdit('email',$event)"></editable-span>
        |
        <editable-span :value="resume.phone" @edit="onEdit('phone',$event)"></editable-span>
      </p>
    </div>
    <div class="skills">
      <h2>技能</h2>
      <ol>
        <li v-for="(skill,index) in resume.skills">
          <div>
            <editable-span :value="skill.name" @edit="onEdit(`skills[${index}].name`,$event)"></editable-span>
          </div>
          <div>
            <editable-span :value="skill.description" @edit="onEdit(`skills[${index}].description`,$event)"></editable-span>
          </div>
          <span class="del" @click="delSkills(index)">x</span>
        </li>
        <li @click="addSkills">+</li>
      </ol>
    </div>
    <div class="projects">
      <h2>项目经历</h2>
      <ol>
        <li v-for="(project,index) in resume.projects">
          <h3>
            <editable-span :value="project.name" @edit="onEdit(`projects[${index}].name`,$event)"></editable-span>
          </h3>
          <p>
            <editable-span :value="project.url" @edit="onEdit(`projects[${index}].url`,$event)"></editable-span>
          </p>
          <p class="intro">
            <editable-span :value="project.skills" @edit="onEdit(`projects[${index}].skills`,$event)"></editable-span>
          </p>
          <p class="description">
            <editable-span :value="project.description" @edit="onEdit(`projects[${index}].description`,$event)"></editable-span>
          </p>
          <span class="del" @click="delProjects(index)">x</span>
        </li>
        <li @click="addProjects">+</li>
      </ol>
    </div>
  </main>

  <!--注册框-->
  <div v-show="registerVisible" class="register" @submit.prevent="onSubmitRegister">
    <h2>注册</h2>
    <form>
      <div class="row">
        <label>用户名 <input type="text" v-model="registerInfo.username"></label>
      </div>
      <div class="row">
        <label>密码 <input type="text" v-model="registerInfo.password"></label>
      </div>
      <div class="row">
        <label>邮箱 <input type="text" v-model="registerInfo.email"></label>
      </div>
      <button type="submit">确认注册</button>
      <button type="button" @click="registerVisible = false">关闭</button>
    </form>
  </div>
  <!--登陆框-->
  <div v-show="logInVisible" class="logIn" @submit.prevent="onSubmitLogIn">
    <h2>登录</h2>
    <form>
      <div class="row">
        <label>账号 <input type="text" v-model="logInInfo.username"></label>
      </div>
      <div class="row">
        <label>密码 <input type="text" v-model="logInInfo.password"></label>
      </div>
      <button type="submit">登录</button>
      <button type="button" @click="triggerState">注册</button>
      <button type="button" @click="logInVisible = false">关闭</button>
    </form>
  </div>

</div>

<script src="../node_modules/leancloud-storage/dist/av-min.js"></script>
<script src="js/AV.js"></script>
<script src="../vendors/vue.min.js"></script>

<script src="./js/editable-span.js"></script>
<script src="./js/index.js"></script>
</body>
</html>